.nav {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: 35px auto;
  background-color: #FFBF00;
  border-radius: 50px;
  padding: 20px 40px 20px 40px;
}

.link {
  background-color: #FFBF00;
  border: 1px solid #B5651E;
  border-radius: 31px;
  width: 160px;
  height: 46px;
  font-weight: lighter;
  font-size: 21px;
  font-family: Montserrat;
  color: #B5651E;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 6%;
}

.active {
  background-color: #B5651E;
  border: 1px solid #B5651E;
  border-radius: 31px;
  width: 160px;
  height: 46px;
  font-weight: lighter;
  font-size: 21px;
  font-family: Montserrat;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 6%;
}