.container {
  background-image: url("../../images/heroImage.png");
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.overlay {
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
  padding-bottom: 50px;
}
