.download {
  text-decoration: none;
  color: #B5651E;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.instructions {
  margin-top: 5px;
  color: #B5651E;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}